.menu{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    list-style: none;
    padding: 0;
}

.nomeProduto{
    border: 3px double black;
    text-align: center;
}

span{
    font-size: 20px;
}

.imagem{
    max-width: 200px;
    display: block;
    margin: 20px auto 3px auto;
}

.pesquisa{
    width: 80%;
}

.comprar{
    margin: 0 auto;
    display: block;
    width: 100px;
    font-size: 15px;
}

.nome{
    width: 100%;
}

.secao-pesquisa{
    display: flex;
}

.titulo{
    text-align: center;
}
.link-menu{
    text-decoration: none;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
}

.enviar{
    display: block;
    width: 100px;
    font-size: 15px;
    text-decoration: none;
    margin: 20px 100px;
}

.tirarlinha{
    text-decoration: none;
}

.compraRealizada{
    text-align: center;
    font-size: 50px;
}